@model KarateEvents.ViewModels.CompetitorViewModel.CompetitorViewModel

@{
    ViewBag.Title = "Takmičari";
}

<h2>Lista takmičara</h2>

<table id="competitors" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Klub</th>
            <th>Kategorija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competitor in Model.Competitors)
        {
            <tr>
                <td>@Html.ActionLink(competitor.Name, "EditCompetitor", "Competitor", new { id = competitor.Id }, null)</td>
                <td>@Model.Clubs.Where(x => x.Id == competitor.ClubId).Select(x => x.Name).FirstOrDefault()</td>
                <td>@Model.Categories.Where(x => x.Id == competitor.CategoryId).Select(x => x.CategoryName).FirstOrDefault()</td>
            </tr>
        }
    </tbody>
</table>